{
  extends: 'eslint-config-airbnb-base',
  env: {
    browser: true,
  },
  rules: {
    // We should allow hyperHTML.bind at index.js
    'no-unused-expressions': ['error', { allowTaggedTemplates: true }],

    // We use bitwise operators in this project
    'no-bitwise': ['error', { allow: ['&', '|', '>>', '<<'] }],

    // Defining constructor function requires { Name: function() { ... }}
    'object-shorthand': ['error', 'properties'],
    'func-names': ['error', 'as-needed'],
  },
}
