body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #345;
  font-family: serif;
  user-select: none;
  clip: rect(0, 0, 0, 0);
}

button {
  height: 1em;
  line-height: 1em;
  margin: 0;
  padding: 0 0.2em;
  border-radius: 0.1em;
  font-size: 1em;
  text-align: center;
  background: radial-gradient(#666, #000);
  color: white;
  border: 1px outset #ccc;
  font-family: inherit;
  opacity: 0.8;
}

button:focus {
  outline: none;
}

button:hover {
  opacity: 1;
}

button:disabled {
  opacity: 0.4;
}
