body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #345;
  font-family: serif;
}

button {
  height: 1em;
  margin: 0;
  border-radius: 15%;
  font-size: inherit;
  line-height: inherit;
  text-align: center;
  background: radial-gradient(#666, #000);
  color: white;
  font-family: inherit;
  opacity: 0.8;
}

button:hover {
  opacity: 1;
}
